<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16184143?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15584052?query=java%20Odessa">Technical Implementation Consultant</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16005582?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15873323?query=java%20Odessa">Automation QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15854339?query=java%20Odessa">Android developer (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16050406?query=java%20Odessa">Администратор систем дистанционного обслуживания клиентов</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15946417?query=java%20Odessa">Application Architect (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15910662?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">PLS Logistics Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15706934?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16099376?query=java%20Odessa">Senior Java Developer/Big Data Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Avicoma - D</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16015134?query=java%20Odessa">Natural Language Processing NLP Engineer (Computational Linguistics / Machine Learning)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Envion Software (Ukraine)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">До 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024468">Java разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Lotsof</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/19097890">Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omertex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023895">Java-разработчик (2GIS World)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024076">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SELVIS</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023986">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024089">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CreditPilot</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023858">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022888">Java\Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024500">Java Developer Middle/Senior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Top Expats</td> 
     <td class="salary">От 140 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023650">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024388">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023944">Lead Software Developer (Java)</a></td> 
     <td class="city">Рига</td> 
     <td class="companyName">C.T.Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024302">java разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024424">Java Team Lead</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Nix Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023906">Java разработчик на "Фактор"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024270">senior java developer Москва</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023893">Java/Python-разработчик (Извлечение данных)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024007">Ведущий разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Integrated Information Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023854">Java Team Lead</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024177">Software Development Engineer Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Xored Software Inc.</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023908">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024525">Java\Go\Clojure разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЦЭКИ</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023925">Java-разработчик, middle/senior java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ОАО Банк Пойдем</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024036">Java EE программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Омникомм</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023856">Java Team Lead</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021888">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Consulting AS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024252">Ява программист (JAVA developer)</a></td> 
     <td class="city">Тенненлоэ</td> 
     <td class="companyName">Clear Croup</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024316">Java-разработчик с хорошим знанием английского</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">LAR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021564">Senior Java developer (Multithreading, Servlets, Spring, Hibernate, Native SQL)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AURUS</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Ведущий программист Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024167">Hadoop developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024464">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">The iFunny Team</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022120">Senior Scala (Java) Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014425">Front-end Developer / Java Script</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Akzia Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024461">Salesforce developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omertex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023948">Anroid разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CTRLFIT</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023920">Backend разработчик (Мобильное приложение, SIP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Helpon</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024398">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Pyrus</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024057">Android Developer / Android Разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DDG</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024472">Разработчик мобильных приложений</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">The iFunny Team</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020199">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023939">Ведущий разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">cityplumbers</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024145">Android Developer</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024238">iOS разработчик / Ведущий iOS разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice Recruitment</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024018">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Секретная Лаборатория</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">До 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024466">Менеджер проектов (Project manager)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Далтон Медиа</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024325">iOS / Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NURR</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024397">PHP-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Artics Internet Solutions</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023466">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ANEWS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023555">BACK-END ПРОГРАММИСТ</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "МСЦ"</td> 
     <td class="salary">От 115 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024182">Big Data engineer / analyst</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024503">Ведущий инженер программист/руководитель направления</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "ФЦНИВТ "СНПО "Элерон"</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024111">Backend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024508">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">interService</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024458">Аndroid­-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024191">Специалист</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Казкоммерцбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024443">Веб-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EDISON. Центр разработки программного...</td> 
     <td class="salary">От 53 000 до 82 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024447">Backend разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024326">Senior PHP-разработчик</a></td> 
     <td class="city">Химки</td> 
     <td class="companyName">Интернет-агентство "Инфоспайс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023912">Full stack developer (Senior Front &amp; Back-end) Moscow city</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Market Music Inc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021814">Senior Software Engineer - Mobile Development (iOS/Android)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Devicepros LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024527">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ONY Agency</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023651">Front-end developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023909">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024340">Senior Android developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024506">Unity программист под Android</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VRAR LAB</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023849">Front-end Developer (JavaScript Developer)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024479">PHP-программист, API с Битрикс24</a></td> 
     <td class="city"></td> 
     <td class="companyName">Кино Хауз</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023964">Android Team Lead</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 110 до 150 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023995">Senior Flash программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024138">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/141365985">Web programmer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">G5 Entertainment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024078">Разработчик распределённых систем</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/976978977">Разработчик мобильных приложений Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024202">C\C++ System Software Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Promwad Innovation Company</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023993">Senior Quality Assurance Engineer (QA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024383">PHP-разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">RGK Group</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024149">Руководитель ИТ-проектов / Бизнес-аналитик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024176">​Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Excursiopedia.com</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024329">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Главный радиочастотный центр</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024496">Backend Engineer (Go)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Juno</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024043">C# / asp.net разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Priem Team</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024454">Ведущий JavaScript разработчик (Senior JavaScript Developer)</a></td> 
     <td class="city">Гусев</td> 
     <td class="companyName">GS Group</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024136">Технический менеджер проектов в области хранения и обработки данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014053">PHP Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">RGK Group</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023897">Инженер (Continuous Integration)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023894">Ведущий программист .Net/C# (Fiji)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007981">C# .NET Developer (Analytics Team)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024498">Android engineer (Kotlin)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Juno</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>