<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHibernate.war">
      <element id="artifact" artifact-name="SpringMVCHibernate:war exploded" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="lib">
          <element id="library" level="application" name="mysql-connector-java-5.1.38-bin" />
          <element id="library" level="project" name="Hibernate 4.2.2-4.2.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>